* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  /* sets the default font size to 10px from 16px  */
}

// ==== display codes ====

.mobile-nav {
    display: none;
}

.full-cart-details {
    display: none; /* return back to display: block when needed */
    padding: 2em;
}

.height {        /* height class to be manipulated by JavaScript */
    height: 25em;
}

.show {          /* show class to be manipulated by JavaScript */
    display: block !important;  /* restore back when finished */
   /*  display: none; add when needed */
}

.bg-effects {
    display: none;
}

